.body{
    width: 95vw;
    border: solid black 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}