h1{
    color: red;
    font-size: 1em;
}
.navBar{
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 229, 255, 0.349);
    padding: 10px;
    /* position: fixed; */
    
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    display: flex;
    gap: 10vw;
    list-style: none;
    color: black;
    font-size: 0.8em;
}

.logo{
    width: 20vh;
}
li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-weight: bolder;

}
li:hover{
    transform: scale(1.5)
}